:root {
    --accent-color:#2196F3;
    --white-text-color: #FFFFFF;
}

body {
    font-family: "Roboto", sans-serif;
    color: #757575;
}

/*Верхняя линия*/

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}

.logo{
    color: #000000;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.first-word {
    color: var(--accent-color);
}

.current-nav-link {
    color: var(--accent-color);
    text-decoration: none;
}

.nav-link {
    color: #212121;
    text-decoration: none;
}

.nav-link:focus,
.nav-link:hover{
    color: var(--accent-color);
}

.items {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: #757575;
}

.link:focus,
.link:hover {
    color: var(--accent-color);
}

/*Шапка*/

.section {
    background-color: #2F303A;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--accent-color);
}

/*Особенности*/

.features {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.subject {
    visibility: hidden;
}

.caption {
    font-weight: 700;
    line-height: 1,14;
    color: #212121;
}
 
/*Наша команда*/

.team {
    background-color: #F5F4FA;
}

.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
}

.desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
}

.text {
    font-weight: 400;
}

/*Футер*/

.second-word {
    color: var(--white-text-color);
}

.item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.adress-link {
    color: var(--white-text-color);
    text-decoration: none;
}

.adress-link:focus,
.adress-link:hover {
    color: var(--accent-color);
}

.contact-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
 
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

